/*fondo de pagina*/
body {
    padding-bottom: 20px;
    background-image: url(./img/fondo.jpg);
    background-size: cover ;
    background-attachment: fixed;
    background-position: 100%;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Courier New', Courier, monospace;
    /*font-family: 'Times New Roman', Times, serif;*/
  }
  
  .navbar {
    margin-bottom: 20px;  
  }
  
  
   
  /*----------------------barra de navegacion----------------------*/
  /*color y tipo de letra en barra de navegacion*/
  .navbar-brand{
    background: linear-gradient( 45deg, rgb(15, 11, 235), rgb(10, 24, 153),  rgb(3, 11, 44));/*linear- gradient degradado*/
    color: rgb(236, 233, 15);
    font-family: 'Times New Roman', Times, serif;
  }

  /*color al pasar sobre los link*/
  .navbar-brand:hover{
    color: rgb(255, 0, 0);
  }

  /*color de la pestana al desplegarse*/
  .offcanvas-header{
    background-color: rgba(13, 11, 133, 0.534);
    color: rgb(236, 233, 15);
  }

  /*color de los enlaces al pasar sobre ellos */
  .nav-item:hover{
    background-color: rgba(0, 4, 255, 0.534);
  }



  
/*---------------------- titulo del menu ----------------------*/
/*color del titulo*/
  .blockquote{
    font-size: 50px;
    background-color: black;
    color: white;
  }
  
  /*color del subtitulo*/
  .blockquote-footer{
    font-size: 20px;
    background-color: white;
  }
  
  
  /*---------------------- boton de menu ----------------------*/
  /*color de boton*/
  .btn{
    background-color: black;
    color: white;
  }
  
  /*color al pasar sobre el boton*/
  .btn:hover{
    background-color: red;
    color: white;
  }
  
  
  /*---------------------- link que se desplegaran----------------------*/
  /*color de la barra desplegable*/
  .offcanvas-header{
    background-color: black;
    color: white;
  }
  
  /*decorracion de del boton*/
  .link{
    text-decoration: none;
  }

  
/*---------------------- targeta de informacion que desaprece y titulo----------------------*/
/*permite generar una linea de tiempo*/
@keyframes miAnimacion{
	
	0%{
		opacity: 0;/*desaparece*/
	}
	100%{
		opacity: 1;/*reaparece*/
	}

}

/*id de la animacion de desaparecer*/
#Prueba{
	animation: miAnimacion 2s linear;/*tiempo de animacion*/
	
}
  
  
  /*---------------------- pie de pagina ----------------------*/
  /*color de pie de pagina*/
  .container .d-flex{
    background-color: rgb(255, 255, 255);
    color: black;
    
  }